stages:
  - build
  - test
  - deploy

# workflow:
#    rules:
#      - if: $CI_MERGE_REQUEST_ID
#        when: always
#      - when: never

variables:
  PROJECT_ID: asl-group4
  REGION: us-central1
  SERVICE_NAME: server-group4

before_script:
  - echo $GCLOUD_SERVICE_KEY | base64 -d > gcloud-key.json
  - gcloud auth activate-service-account --key-file=gcloud-key.json
  - gcloud config set project $PROJECT_ID
  - gcloud auth configure-docker gcr.io

build:
  stage: build
  tags:
    - docker-build
  image: google/cloud-sdk:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
    DOCKER_DRIVER: overlay2
  script:
  - cd $CI_PROJECT_DIR 
  - docker info
  - docker build -f server/Dockerfile-deploy -t gcr.io/$PROJECT_ID/$SERVICE_NAME:$CI_COMMIT_SHA .
  - docker push gcr.io/$PROJECT_ID/$SERVICE_NAME:$CI_COMMIT_SHA

test:
  stage: test
  tags:
    - docker-build
  image: google/cloud-sdk:latest
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - cd server
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker run --rm gcr.io/$PROJECT_ID/$SERVICE_NAME:$CI_COMMIT_SHA python3 -m coverage run manage.py test tests --pattern="*_test.py" && coverage report -m --ignore-errors

  coverage: '/TOTAL.+ ([0-9]{1,3}%)/'
