version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    environment:
      - NUM_FEATURES=126
      - MAX_FRAMES=47
    # mounting the server directory into the container,
    # so that changes are live-reloaded.
    # this makes development easier, if the developer
    # wants to use docker during development.
    volumes:
      - ./server:/app
    ports:
      - "8000:8000"
