version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    environment:
      - MODEL_NAME=draft_model
      - SAVE_RECORDINGS=True
      - DEBUG=True
    # mounting the server directory into the container,
    # so that changes are live-reloaded.
    # this makes development easier, if the developer
    # wants to use docker during development.
    volumes:
      - ./server:/app
      - ./models:/models
      - ./recordings:/recordings
      - ./tmp:/tmp
    ports:
      - "8000:8000"
