{% extends "app/base.html" %}
{% load static %}
{% block title %}Browse{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Browse Words</h1>
        <div class="grid">
            {% for video in video_files %}
            <div class="cell">
                <div class="card">
                    <div class="card-content">
                        <div class="title">
                            {{ video.name }}
                        </div>
                    </div>
                    <div class="card-image">
                        <video class="video-card" style="width: 100%" controls>
                            <source src="{% static video.path %}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
